@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #F3F4F6;
  color: #111827;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}